@charset "utf-8";

/*배경 그라데이션*/
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #FFFEE1, #FEDB44, #FA82B9);
    background-size: 300% 300%;
    animation: bggradient 10s ease infinite;
}

@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

