/*----------------------------
* 메뉴 개폐 버튼 
*----------------------------*/

/*버튼 바깥쪽 ※레이아웃에 따라 position이나 모양은 적절히 변경해주세요*/

.menu-btn {
    position: relative;
    /*버튼 안쪽 기점이 되므로 relative 지정*/
    background: #ffffff00;
    cursor: pointer;
    width: 60px;
    height: 50px;
    border: 0px;
    z-index: 3;
}

/*버튼안쪽*/
.menu-btn span {
    display: inline-block;
    transition: all .4s;
    /*애니메이션 설정*/
    position: absolute;
    left: 30px;
    height: 3px;
    border-radius: 2px;
    background: #ff0000;
    width: 45%;
}

.menu-btn span:nth-of-type(1) {
    top: 15px;
}

.menu-btn span:nth-of-type(2) {
    top: 23px;
}

.menu-btn span:nth-of-type(3) {
    top: 31px;
}

/*
.menu-btn {
    margin-left: 2vw;
    z-index: 3;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: #ff000046;
    color: #fff;
}*/

/*active 클래스가 부여되면 선이 회전하여 ×에 */
.menu-btn.active span:nth-of-type(1) {
    top: 18px;
    left: 30px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.menu-btn.active span:nth-of-type(2) {
    opacity: 0;
    /*가운데 선은 투과*/
}

.menu-btn.active span:nth-of-type(3) {
    top: 30px;
    left: 30px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*----------------------------
* 메뉴 본체
*----------------------------*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ff1f1f95;
    
}

.menu__item {
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Abel';
    font-size: 1.5vw;
}

/*----------------------------
* 애니메이션 부분
*----------------------------*/

/* 애니메이션 전 메뉴 상태 */
.menu {
    transform: translateX(-100vw);
    transition: all .6s linear;
}

/* アニメーション後のメニューの状態 */
.menu.is-active {
    transform: translateX(0);
}